<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="aktishch@gmail.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
  <title><%= data.title %></title>
</head>

<body>

  <main>

    <!-- Прелоадер -->

    <div class="fixed inset-0 z-50 flex flex-col items-center justify-center duration-500 bg-white" data-preloader>
      <%= preloader %>
    </div>

    <!-- Шапка документа -->

    <header class="container fixed top-0 left-0 right-0 z-30 flex items-center justify-between bg-white bg-opacity-0 gap-5 pt-5 lg:pt-16 xl:pt-20 pb-5 duration-300" data-header>
      <button class="btn btn-primary rounded text-black lg:hidden" data-sidebar-open="menu" data-waved="dark">
        <%= icon({id: 'burger', className: 'icon text-3xl', data: null}) %>
      </button>
      <a class="w-[84px] sm:w-28 lg:w-32 shrink-0" data-waved="light" draggable="false" href="/">
        <%= picture({src: 'img/pictures/logo', format: 'png', className: 'block w-full', data: null}) %>
      </a>
      <nav class="hidden lg:flex items-center gap-8 xl:gap-11">
        <% _.forEach((data.nav), (item) => { %>
        <a class="btn font-normal hover:text-primary hover:bg-transparent rounded" <%= item.href !== null ? 'data-scroll' : null %> data-waved="dark" draggable="false" href="<%= item.href %>"><%= item.text %></a>
        <% }) %>
      </nav>
      <a class="size-8 shrink-0 rounded-lg btn btn-primary btn-fill btn-gradient sm:hidden" data-waved="light" draggable="false" href="tel: +7-999-999-99-99">
        <%= icon({id: 'telephone', className: 'icon text-2xl', data: null}) %>
      </a>
      <a class="btn btn-primary text-lg lg:text-xl font-bold text-black rounded hidden sm:flex" data-waved="dark" draggable="false" href="tel: +7-999-999-99-99">+7-999-999-99-99</a>
    </header>

    <!-- Меню -->

    <div class="fixed inset-0 z-40 bg-black/50 duration-100 group/menu [&[data-sidebar=close]]:invisible [&[data-sidebar=close]]:opacity-0" data-sidebar="close" data-sidebar-resize="lg" id="menu">
      <div class="flex flex-col bg-white overflow-auto w-full pt-5 px-4 pb-10 max-w-[375px] h-full duration-300 group-[[data-sidebar=close]]/menu:invisible group-[[data-sidebar=close]]/menu:opacity-0 group-[[data-sidebar=close]]/menu:-translate-x-full">
        <div class="flex items-center justify-between gap-5 mb-10">
          <button class="btn btn-primary rounded text-black" data-sidebar-close="menu" data-waved="dark">
            <%= icon({id: 'close', className: 'icon text-3xl', data: null}) %>
          </button>
          <a class="w-[84px] shrink-0" data-waved="light" draggable="false" href="/">
            <%= picture({src: 'img/pictures/logo', format: 'png', className: 'block w-full', data: null}) %>
          </a>
          <a class="size-8 shrink-0 rounded-lg btn btn-primary btn-fill btn-gradient" data-waved="light" draggable="false" href="tel: +7-999-999-99-99">
            <%= icon({id: 'telephone', className: 'icon text-2xl', data: null}) %>
          </a>
        </div>
        <nav class="flex flex-col items-start gap-8 mb-10">
          <% _.forEach((data.nav), (item) => { %>
          <a class="btn font-normal hover:text-primary hover:bg-transparent rounded" <%= item.href !== null ? 'data-scroll' : null %> data-waved="dark" draggable="false" href="<%= item.href %>"><%= item.text %></a>
          <% }) %>
        </nav>
      </div>
    </div>