<%
  var data = {
    title: 'Rodionoff group',
    status: true,
    nav: [
      {
        href: '#about',
        text: 'О компании'
      },
      {
        href: '#services',
        text: 'Услуги'
      },
      {
        href: '#cases',
        text: 'Кейсы'
      },
      {
        href: null,
        text: 'Статьи'
      },
      {
        href: null,
        text: 'Telegram-канал'
      }
    ]
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = require('./components/preloader.html').default
  var error = _.template(require('./components/error.html').default)
  var header = _.template(require('./includes/header.html').default)({data, icon, picture, loader, preloader})
  var footer = _.template(require('./includes/footer.html').default)({data, picture, loader})
%>

<%= header %>

<!-- <%= data.title %> -->

<% var primal = [
  'Отменяем акты и требования',
  'Снимаем блокировки со счетов',
  'Оспариваем решения после проверок'
] %>

<section class="container relative pt-44 sm:pt-64 xl:pt-80 sm:pb-0">
  <div class="container py-0 absolute inset-0 bg-grey overflow-hidden">
    <%= loader %>
    <picture>
      <source srcset="img/pictures/primal-bg-desktop.webp" media="(min-width: 767.98px)" type="image/webp">
      <source srcset="img/pictures/primal-bg-desktop.jpg" media="(min-width: 767.98px)">
      <source srcset="img/pictures/primal-bg-mobile.webp" type="image/webp">
      <img class="image" draggable="false" loading="lazy" src="img/pictures/primal-bg-mobile.jpg" alt="">
    </picture>
    <div class="relative size-full">
      <div class="absolute top-10 lg:top-auto lg:bottom-0 -right-40 lg:-right-24 w-96 md:w-[580px]">
        <%= picture({src: 'img/pictures/primal-img', format: 'png', className: 'block w-full', data: null}) %>
      </div>
    </div>
  </div>
  <div class="relative">
    <h1 class="text-4xl/tight sm:text-5xl/tight lg:text-[64px] lg:leading-tight tracking-wider uppercase font-black mb-10 sm:mb-12 anim anim-up duration-500" data-anim>
      Решаем <br> налоговые <br class="xl:hidden"> споры
    </h1>
    <ul class="flex flex-col gap-1.5 font-bold sm:text-lg lg:text-xl mb-24 anim anim-up duration-500 delay-100" data-anim>
      <% _.forEach((primal), (item) => { %>
      <li class="flex items-center">
        <%= picture({src: 'img/pictures/lightning', format: 'svg', className: 'block shrink-0 w-3 sm:w-4 mr-3 sm:mr-6', data: null}) %>
        <%= item %>
      </li>
      <% }) %>
    </ul>
    <div class="relative z-10 anim anim-up duration-500 delay-200" data-anim>
      <div class="card md:bg-white shadow-2xl backdrop-blur-md w-full max-w-96 lg:max-w-full xl:max-w-[950px] rounded-xl overflow-hidden border border-solid border-white/20">
        <div class="card-content relative lg:flex-row lg:gap-6 lg:items-center lg:justify-between">
          <b class="sm:text-lg lg:text-xl pt-5 lg:pt-0 pb-7 lg:pb-0 pl-7 lg:pl-10 pr-7 lg:pr-0">Получите план действий по вашей ситуации</b>
          <div class="w-12 lg:w-16 lg:h-0 lg:shrink-0 absolute lg:relative -top-12 lg:-top-24 right-0 rotate-90 lg:rotate-0">
            <%= icon({id: 'arrow-right', className: 'block w-full opacity-5', data: null}) %>
          </div>
          <button class="btn btn-primary btn-xl btn-fill btn-gradient text-2xl active:transform-none" data-waved="light">Оставить заявку</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 150+ клиентов -->

<% var about = [
  {
    title: '8 лет опыта',
    text: 'урегулирования споров с ФНС'
  },
  {
    title: '500 млн ₽',
    text: 'экономии ежегодно'
  },
  {
    title: '>250 млн ₽',
    text: 'отмененных требований и актов'
  },
  {
    title: '95% дел',
    text: 'решаются в досудебном порядке'
  }
] %>

<section class="container relative overflow-hidden" id="about">
  <div class="absolute inset-0 bg-grey">
    <%= loader %>
    <picture>
      <source srcset="img/pictures/about-bg-desktop.webp" media="(min-width: 767.98px)" type="image/webp">
      <source srcset="img/pictures/about-bg-desktop.jpg" media="(min-width: 767.98px)">
      <source srcset="img/pictures/about-bg-mobile.webp" type="image/webp">
      <img class="image" draggable="false" loading="lazy" src="img/pictures/about-bg-mobile.jpg" alt="">
    </picture>
  </div>
  <div class="relative">
    <div class="lg:absolute lg:top-1/2 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2 mb-8 text-right lg:text-left">
      <h2 class="font-black text-8xl sm:text-9xl lg:text-[155px] lg:leading-tight tracking-wider anim anim-up duration-500" data-anim>
        150+
      </h2>
      <p class="font-thin text-5xl sm:text-6xl lg:text-[80px] anim anim-up duration-500" data-anim>
        клиентов
      </p>
    </div>
    <div class="relative flex flex-col items-start sm:items-stretch gap-5 sm:gap-10 lg:gap-16">
      <% _.forEach((about), (item) => { %>
      <div class="sm:w-max sm:even:ml-auto anim odd:anim-right even:anim-left duration-500" data-anim>
        <div class="card bg-transparent gradient-glass backdrop-blur-sm shadow-2xl border border-solid border-white/20">
          <div class="card-content py-3 sm:py-5 px-5 sm:px-8 lg:px-10">
            <h3 class="font-black text-3xl sm:text-4xl lg:text-[40px] lg:leading-tight uppercase tracking-wider"><%= item.title %></h3>
            <p class="text-base sm:text-lg lg:text-xl"><%= item.text %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>

<%= footer %>